.shipping-content {
  margin-top: var(--space-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shipping-form {
  min-width: 90%;
  padding: var(--space-md);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
}


.payment-method-options {
  margin-top: var(--space-sm);
}

.payment-method-option {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}


.payment-method-text {
  margin-left: var(--space-sm);
  color: var(--color-primary-dark);
}


.same-line {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  color: var(--color-secondary);
  font-weight: 600;
  align-items: baseline;
}

.same-line > :first-child {
  width: 5%;
  flex-shrink: 0; 
}

.same-line > :nth-child(2) {
  width: 95%;
}


.address-card {
  background-color: var(--color-bg);
  padding: var(--space-md);
  border-radius: var(--space-md);
}

.btn-address {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .btn-address {
    flex-direction: column; 
    gap: var(--space-sm); 
  }
}

.btn-address .btn-icon{
  padding: var(--space-sm);
  font-size: var(--font-size-lg);
}