.shipping-content {
  margin-top: var(--space-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shipping-form {
  width: 90%;
  padding: var(--space-xl);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
}


.payment-method-options {
  margin-top: var(--space-sm);
}

.payment-method-option {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}


.payment-method-text {
  margin-left: var(--space-sm);
  color: var(--color-primary-dark);
}


.same-line{
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  color: var(--color-secondary);
  font-weight: 600;
  align-items: baseline;
  margin-left: 0.5rem;
}