.message {
  padding: var(--space-md);
  border-radius: var(--radius-md);
  margin: var(--space-md) 0;
  font-weight: 700;
}

.message-success {
  background-color: var(--color-primary-light);
  color: var(--color-success);
}

.message-danger {
  background-color: var(--color-primary-light);
  color: var(--color-danger);
}

.message-default {
  background-color: var(--color-bg-light);
  color: var(--color-secondary-light);
}